		body {
			/*margin: 75px;*/
			font-size: 5vw;
			text-transform: uppercase;
			font-family:  monospace;
/*font-family: 'Kanit', sans-serif;*/
font-family: 'Rajdhani', sans-serif;
			text-align: center;
			margin-top: 300px;
			min-width: 100%;
			min-height: 100%;
			background-color: #252525;
		}

		.button-container {
			position: fixed;
			bottom: 15vh;
left: 49vw;
			color: gray;
		}
				}
	button {
     background-color: gray;
height: 2vh;
width: 6vw;
box-shadow: 1px 1px 1px 1px black;
font-family: 'Rajdhani', sans-serif;
font-size: 1.25vw;
		decoration: none;
}
	
		/*.glow {
			text-shadow: 0 0 6px #0FB417, 0 0 25px #0FCC19;
		}*/

.list-one {
	text-align: center;
	color: #11E41C;
	display: inline;
}

		
.list-two {
		text-indent: 1em;
		text-align: center;
		color: #11E41C;
		display: inline;
}

.list-three {
	text-indent: 2em;
	text-align: center;
	color: #11E41C;
	cursor: pointer;
	display: inline;
}

.list-four {
	/*text-indent: 1em;*/
	text-align: center;
	line-height: 13vh;
	color: #11E41C;
	display: none;
	cursor: pointer;
			
		}
/*flickering text*/
		#flicker {
  -webkit-animation: flicker 2s infinite ;
  text-align:center;
/*  animation-iteration-count: 1;*/
}

/*.test {
	text-align:center;
}*/

@-webkit-keyframes flicker
{
0% {opacity:0;}
9% {opacity:0;}
10% {opacity:.5;}
13% {opacity:0;}
20% {opacity:.5;}
25% {opacity:1;}
}

