/*fonts*/
.font {
	font-family: 'avantgargotitcteeregular';
}

.font2 {
	font-family: 'avantgargotitcteeitalic';
}

.font3 {
	font-family: 'avantgarde_md_btmedium';
}
 
 .font4 {
 	font-family: 'avantgarde_md_btMdOb';
 }


#bodycontainer {
	max-width: 100%;
	max-height: 100%;
	background-color: #7d7df8;
	text-align: center;

}



.title {

	font-size: 3vw;
}

/*body {
	background-color: blue;
}*/
/*p {
	color: white;
}*/