#container {
 	background-image: linear-gradient(#683f69, #d16b93, #8E1B47, #000924);
 	max-width: 15000px;
 	min-height: 15000px;
 	z-index: 0;
 	padding: 0;
 	margin: 0;
 	
 }
 /*colors*/
 /*gold #FFC30F;*/
 /*orange #FF5B37;*/
 /*pink #C70039;*/
 /*fushcia #900C3F;*/
 /*purple #581845;*/


/*fonts*/
.font {
	color: white;
	font-family: 'avantgargotitcteeregular';
}

.font2 {
	font-family: 'avantgargotitcteeitalic';
}

.font3 {
	font-family: 'avantgarde_md_btmedium';
}
 
 .font4 {
 	font-family: 'avantgarde_md_btMdOb';
 }

 .title {

 	color: white;
 	position: absolute;
 	right: 5vw;
 	font-size: 3vw;
 	cursor: pointer;

 }

/* .title:hover {
 	color: gray;
 }*/

/*gender lines*/
 .whatis {
 	color: #FF5B37;
 	display: inline-block;
 	cursor: pointer;
 }
.ge {
	color: #02185d;
	display: inline;
	cursor: pointer;
}

.nd {
	color: #581845;
	display: inline;
	cursor: pointer;
}

.er {
	color: #f67e7d;
	display: inline;
	cursor: pointer;
}

.q {
	color: #FF5B37;
	display: inline;
	cursor: pointer;

}
 .gender {
 	display: none;
	color: white;
	position: absolute;
	left: 29vw;
top: 55vh;
	font-size: 6vw;
	cursor: pointer;
}

/*.gender:hover {
	color: red;
}*/

.genderline2 {
	display: none;
	color: #FFC30F;
	position: absolute;
	text-align: center;
	left: 7vw;
top: 80vh;
	font-size: 3vw;
	cursor: pointer;
}

.bio {
	display: inline;
	/*color: gray;*/
	cursor: pointer;
}

.sexes {
	display: none;
	color: #FFC30F;
	position: absolute;
	text-align: center;
	font-size: 3vw;
	left: 28vw;
top: 99vh;
cursor: pointer;
}

.perception {
	display: none;
	color: #FFC30F;
	position: absolute;
	text-align: center;
	font-size: 3vw;
	left: 49vw;
top: 120vh;
cursor: pointer;
}

.whose {
	display: none;
	position: absolute;
	text-align: center;
	font-size: 11vw;
left: 0vw;
	top: 140vh;
	margin-left: 2vw;
	color: #F14F2B;
	cursor: pointer;
}

.isit {
	display: none;
	position: absolute;
	text-align: center;
	font-size: 9vw;
left: 7.5vw;
top: 160vh;
color: #FF5B37;
cursor: pointer;
}

.yourself {
	display: none;
	position: absolute;
	text-align: center;
	font-size: 4vw;
	left: 20vw;
top: 218vh;


}

.yourself2 {
	font-size: 4vw;
	line-height: 13vh;
	
}

.typi {
	display: inline;
	cursor: pointer;
}

/*.typi:hover {
	color: #f67e7d;
	cursor: pointer;
}*/

.lineheight {
	line-height: 8vw;
	cursor: pointer;
}

#wrap10 {
	display: inline;
	cursor: pointer;
}

.fsize {
	font-size: 4vw;
	cursor: pointer;
}

.tm {
	display: none;
	position: absolute;
	left: -15vw;
top: 23vh;
cursor: pointer;
}

.man {
	display: inline;
	color: #4D85BA;
	cursor: pointer;
}

.mancolor {
 color: #0040FF;
 cursor: pointer;
}

#wrap11{
	display: inline;
	cursor: pointer;
}

.tw {
	display: none;
	position: absolute;
	top: 30vh;
right: -20.5vw;
cursor: pointer;

}

.woman {
	display: inline;
	color: #ffb8b7e6;
	cursor: pointer;
}

.womancolor {
	color: #d700ff;
	cursor: pointer;
}

#wrap12 {
	display: inline;
	cursor: pointer;
}

.wdtm {
	display: none;
	position: absolute;
	text-align: center;
	left: 5.5vw;
	top: 291vh;
	font-size: 6vw;
	cursor: pointer;

}

.typical1 {
	display: inline;
	font-size: 12vw;
	cursor: pointer;
}

.can {
	display: none;
	position: absolute;
	text-align: center;
	left: 3vw;
top: 355vh;
	font-size: 3vw;
	cursor: pointer;

}

.men {
	display: inline;
	color: #4D85BA;
	cursor: pointer; 
}

.clothing {
	display: inline-block;
	color: #ffb8b7e6;
	cursor: pointer;
}


/*typicals*/
.goldtypical1 {
	display: none;
	position: absolute;
left: 53vw;
top: 341vh;
font-size: 12vw;
color: #FFC30F;
cursor: pointer;
}

.goldtypical2 {
	display: none;
	position: absolute;
left: 3vw;
top: 384vh;
font-size: 12vw;
color: #FFC30F;
cursor: pointer;
}

.goldtypical3 {
	display: none;
	position: absolute;
left: 51vw;
top: 424vh;
font-size: 12vw;
color: #FFC30F;
cursor: pointer;
}

.goldtypical4 {
	display: none;
	position: absolute;
left: 2.5vw;
top: 468vh;
font-size: 12vw;
color: #FFC30F;
cursor: pointer;
}

.do {
	display: none;
	position: absolute;
	text-align: center;
	left: 51vw;
top: 398vh;
	font-size: 3vw;
	cursor: pointer;

}

.makeup {
	display: inline;
	color: #E12D60;
	cursor: pointer;
}

.can2 {
	display: none;
	position: absolute;
	text-align: center;
	left: 7vw;
top: 437vh;
	font-size: 3vw;
	cursor: pointer;
}

.men2 {
	display: inline;
	color: #4D85BA; 
	cursor: pointer;

}

.makeup2 {
	display: inline;
	color: #ffb8b7e6;
	cursor: pointer;

}

.do2 {
	display: none;
	position: absolute;
	text-align: center;
	left: 51vw;
top: 482vh;
	font-size: 3vw;
	cursor: pointer;
}

.feminine {
	display: inline;
	color: #E12D60;
	cursor: pointer;
}

.whatbehave1 {
	display: none;
	position: absolute;
	text-align: center;
	left: 13.5vw;
top: 512vh;
	font-size: 3vw;
	cursor: pointer;
}

.behaviors {
	display: inline;
	color: #CA0900;
	font-size: 4vw;
	cursor: pointer;
}

.behavemen {
	display: inline;
	color: #4D85BA;
	cursor: pointer;
}

.inappro {
	display: inline;
	font-size: 4vw;
	cursor: pointer;
}

.behavewomen {
	display: inline;
	color: #E12D60;
	cursor: pointer;
}

.whatbehave2 {
	display: none;
	color: white;
	position: absolute;
	text-align: center;
	left: 12vw;
top: 548vh;
	font-size: 3vw;
	cursor: pointer;
}

.appro {
	display: inline;
	font-size: 4vw;
	color: #FF5B37;
	cursor: pointer;
}

.notanother {
	display: inline;
	font-size: 4vw;
	color: #FFC30F;
	cursor: pointer;
}

/*race section*/

.racetitle {
	display: none;
	position: absolute;
	left: 5vw;
	top: 597vh;
	color: #700404;
	font-size: 5vw;	
	cursor: pointer;
}

.difference {
	display: none;
	position: absolute;
	color: #F4451E;
	font-size: 4vw;
	cursor: pointer;
}

.position1 {
	left: 23vw;
top: 623vh;
cursor: pointer;
}

.position2 {
	left: 32vw;
top: 771vh;
cursor: pointer;
}

.identity {
	display: none;
	position: absolute;
	text-align: center;
	left: 29vw;
	top: 640vh;
	font-size: 6vw;
	color: white;
	cursor: pointer;
}

.peopleask {
	display: none;
	position: absolute;
	font-size: 5vw;
	font-size: 7vw;
	left: 14vw;
top: 657vh;
	color: #FFC30F;
	line-height: 26vh;
	cursor: pointer;
}

.interactions {
	display: none;
	position: absolute;
	left: 16vw;
top: 679vh;
	color: #a84d8d;
	font-size: 5vw;
	cursor: pointer;
}

.treat {
	display: none;
	position: absolute;
	left: 51vw;
top: 678vh;
color: #a84d8d;
font-size: 5vw;
line-height: 16vh;
cursor: pointer;
}

.treat2 {
	display: none;
	position: absolute;
	left: 39vw;
top: 796vh;
color: #a84d8d;
font-size: 3vw;
line-height: 10vh;
color: white;
cursor: pointer;
}

.people {
	display: inline;
	color: #a84d8d;
	font-size: 4vw;
	cursor: pointer;
}

/*Discrimination*/

.discrimtitle {
	display: none;
	position: absolute;
	left: 9vw;
top: 848vh;
color: #900C3F;
font-size: 7vw;
cursor: pointer;
}

.discrim {
	display: none;
	position: absolute;
	left: 29vw;
top: 857vh;
color: #900C3F;
font-size: 9vw;
cursor: pointer;
}

.mean {
	display: none;
	position: absolute;
	left: 10vw;
top: 895vh;
	font-size: 3vw;
	color: #FFC30F;
	cursor: pointer;
}

.disc1 {
	display: inline;
	color: #900C3F;
	font-size: 3vw;
	cursor: pointer;
}

.kinds1 {
	display: none;
	position: absolute;
left: 57vw;
top: 918vh;
	font-size: 3vw;
	color: #FFC30F;
	cursor: pointer;
}

.disc2 {
	display: inline;
	color: #900C3F;
	font-size: 3vw;
	cursor: pointer;
}

.kinds2 {
	display: none;
	position: absolute;
left: 10vw;
top: 947vh;
	font-size: 3vw;
	color: #FFC30F;
	cursor: pointer;
}

.disc3 {
	display: inline;
	color: #900C3F;
	font-size: 3vw;
	cursor: pointer;
}

.def {
	display: none;
	position: absolute;
left: 28vh;
top: 983vh;
	font-size: 3vw;
	color: #FFC30F;
	cursor: pointer;
}

.disc4 {
	display: inline;
	color: #900C3F;
	font-size: 3vw;
	cursor: pointer;
}

.isit1 {
	display: none;
	position: absolute;
	left: 78vh;
top: 1017vh;
	font-size: 3vw;
	color: #C70039;
	cursor: pointer;
}

.isit2 {
	display: none;
	position: absolute;
	left: 81vh;
top: 1029vh;
	font-size: 3vw;
	color: #FF5B37;
	cursor: pointer;
}

.isit3 {
	display: none;
	position: absolute;
	left: 70vh;
top: 1042vh;
	font-size: 3vw;
	color: #4D85BA;
	cursor: pointer;
}

.areyou {
	display: none;
	position: absolute;
	left: 74vh;
top: 1055vh;
	font-size: 3vw;
	color: #581845;
	cursor: pointer;
}

#top {
	text-decoration: none;
	cursor: pointer;

}
