body {
	height: 100%;
	min-width: 100%;
	background-color: #222121;
	

}

.nav-orange {
	position: relative;
right: -84vw;
top: 2vh;
}

.nav-purpl {
	position: relative;
	right: -94vw;
top: 2vh;
}

.menu-symbol {
	position: absolute;

display: inline;

top: 21vh;

left: 2vw;
}

.nav {
	width: 4vw;
	height: 3vh;
	position: relative;
left: 83vw;
top: 2vh;
margin: 5px;
}

.navtext {
display: inline;

color: orange;

font-family: 'Poppins', sans-serif;

font-weight: 200;

font-size: .7vw;

left: 71vw;

position: relative;

top: 2vh;
}

.about {
	color: #6e45a6;

position: relative;

left: 69vw;

top: 2.5vh;
}


.photo {
	color: #ffb600;
position: relative;
left: 71.5vw;
    top: 2.5vh;

}

.int {
	color: #fc561d;

position: relative;
left: 71.75vw;
    top: 2.5vh;


}


#imagecanvas {

position: absolute;

right: 0vw;

top: 27vh;

width: 50%;

height: 100%;


}


.gtimg {
position: relative;

width: 30vw;

display: block;

margin-left: auto;

margin-right: auto;

display: none;

}

.eximg {
position: absolute;

width: 30vw;

display: block;

margin-left: auto;

margin-right: auto;

display: none;


}

.obimg {
position: relative;

width: 30vw;

display: block;

margin-left: auto;

margin-right: auto;

display: none;
}

.text {
color: #ff1d7c;

font-family: 'Poppins', sans-serif;

font-weight: 300;

font-size: 1.5vw;

line-height: 5vh;

position: relative;

top: 27vh;

margin-left: 1.5vw;
}

.ex {
cursor: pointer;


}

.ob {
	cursor: pointer;

}

.gt {
 cursor: pointer;
 
}