body {
	height: 100%;
	width: 100%;
	background-color: #ff8700;
	font-family: 'Merriweather', serif;


}

.size {
	height:120vh;
	width:120vw;
}
.mytext {
text-align: center;
    position: absolute;
    display: inline;
    font-size: 5vw;
    z-index: 5;
    top: 2vh;
    left: 5vw;

}



.link {
	position: absolute;
left: 7vw;

top: 16vh;

font-size: 4vh;
}
.coffee {
	position: absolute;
	top: 25vh;
	left: 22vw;
}
.actcasual {
	position: relative;
	display: inline-block;
	left: 1vw;
}

.gun {
position: relative;
	display: inline-block;
	left: 1vw;
}

.printer {
position: relative;
	display: inline-block;
	left: 1vw;	
}
/*enf of forst row*/

/*second row*/
.outofhere {
	position: relative;
top: 54vh;
left: 21.25vw;

}
.accept {
	position: relative;
	display: inline-block;
	left: 1vw; 
}

.iknow {
	position: relative;
	display: inline-block;
	left: 1vw; 
}

.feelings {
	position: relative;
	display: inline-block;
	left: 1vw;
}
/*end second row*/

/*third row*/
.kelly {
	position: relative;
	display: inline-block;
top: 56.5vh;
left: 21.25vw;
}

.what {
	position: relative;
	display: inline-block;
	left: 1vw;
	padding-bottom: 100px;
}

.fine {
	position: relative;
	display: inline-block;
	left: 1vw;
}

.nohope {
	position: relative;
	display: inline-block;
	left: 1vw;
}