body {
	height: 100%;
	width: 100%;
	text-align: center;
	background-color:#e38903;
	font-family: 'Merriweather', serif;


}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.mytext {
	top: 2vh;
	display: inline;
	font-size: 5vw;
	z-index: 5;
	top: 5vh;

position: relative;

}

.gun {
	margin: 5vw;
position: relative;
top: 7vh;

}
